svg#freepik_stories-journey:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-journey.animated #freepik--Floor--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--rocks-2--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--Clouds--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--Sun--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--Plants--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--Locators--inject-2 {
  animation: 1.1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38)
    lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--rocks-1--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
svg#freepik_stories-journey.animated #freepik--Character--inject-2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

svg#freepik_stories-lost:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-lost.animated #freepik--question-marks--inject-26 {
  animation: 1.5s alternate-reverse linear floating;
  animation-delay: 0s;
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

svg#freepik_stories-flowers:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-flowers.animated #freepik--flowers-3--inject-18 {
  animation: 0.3s 1 forwards ease-in zoomIn;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-flowers.animated #freepik--flowers-5--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-flowers.animated #freepik--flowers-6--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-flowers.animated #freepik--flowers-4--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.15s;
  opacity: 0;
}
svg#freepik_stories-flowers.animated #freepik--flowers-2--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.15s;
  opacity: 0;
}
svg#freepik_stories-flowers.animated #freepik--flowers-1--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-flowers.animated #freepik--Floor--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-flowers.animated #freepik--Shadows--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-flowrs.animated #freepik--Character--inject-18 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animator-hidden {
  display: none;
}

svg#freepik_stories-mathematics:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-mathematics.animated #freepik--Floor--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-mathematics.animated #freepik--Shadows--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-mathematics.animated #freepik--Shadows--inject-26 {
  opacity: 0;
}

svg#freepik_stories-mathematics.animated
  #freepik--Shadows--inject-26
  .animable {
  animation: 0.5s forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  opacity: 0;
}

svg#freepik_stories-mathematics.animated #freepik--Symbols--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}

svg#freepik_stories-mathematics.animated #freepik--Symbols--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}

svg#freepik_stories-mathematics.animated #freepik--Blackboard--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-mathematics.animated #freepik--character-1--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-mathematics.animated #freepik--character-2--inject-26 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}

svg#freepik_stories-application-programming-interface:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--Charts--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--connection-3--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5s;
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--Tab--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--speech-bubble-2--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--connection-2--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5s;
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--Gears--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--connection-1--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5s;
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--speech-bubble-1--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}

svg#freepik_stories-application-programming-interface.animated
  #freepik--Cloud--inject-9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bouncy-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.bouncy-scroll::-webkit-scrollbar {
  width: 6px;
}

.bouncy-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.bouncy-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.h-200vh {
  height: 200vh; /* Adjust the height to your needs */
}

.overflow-y-scroll.bouncy-scroll {
  animation: bounce 1s infinite;
  animation-timing-function: ease-in-out;
}
