@import url("https://fonts.cdnfonts.com/css/fot-rodin-pro");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("Animation.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "FOT-Rodin Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  /* Color Palette, Light Mode */
  --non-photo-blue: #91e5feff;
  --non-photo-blue-2: #baf0feff;
  --lime: #d0fe4eff;
  --ebony: #5d6762ff;
  --green-yellow: #afee4cff;
  --ruddy-blue: #5ba5feff;
  --mantis: #85cc52ff;
  --reseda-green: #6f8c5cff;
  --blue-gray: #5c9bd9ff;
  --lavender-web: #e9edfcff;

  /*Previous Color Palette*/
  --bg-card: #e9edfc90;
  --bg-card-2: hsla(227, 76%, 95%, 0.384);
  --bg-card-3: #e9edfcbf;
  --bg-card-solid: #f1f1f1cd;
  --accent-1: #c491ff;
  --accent-2: #f000b8;
  --accent-3: #f57bfb;
  --bg-accent-1: #9a9c9e44;

  --bg-accent-2: #9a9c9e28;
  --bg-accent-3: #bbd3c3bd;

  --font-color: #0f172a;

  --placeholder: #00000081;
  --bg-soft-warning: #e0a8a841;
}

[data-theme="dark"] {
  --card-color: #37393b;
  --cardhover: #515253;
  --homework: ;
  --math: #6d597a;
  --deadline: #355070;
  --fontcolor: white;
  --lvl: #f94144;
  --age: #f9844a;
  --exp: #4d908e;
  --taskexp: #4d908e;

  --seal-brown: #623219ff;
  --magenta-dye: #c41a69ff;
  --night: #141518ff;
  --tyrian-purple: #4b0129ff;
  --rose-red: #be1449ff;
  --mauveine: #7d119cff;
  --fandango: #b3177dff;
  --red-crayola: #ee2849ff;
  --dark-purple: #19071aff;
  --vermilion: #de413aff;

  --bg-card: #15151590;
  --bg-card-2: #2f2f2fdb;
  --bg-card-3: #484848bf;
  --bg-card-solid: #0b0b0bbf;
  --accent-1: #c491ff;
  --accent-2: #f000b8;
  --accent-3: #f57bfb;
  --bg-accent: #9a9c9e44;

  --bg-accent-1: #49494977;
  --bg-accent-2: #9a9c9e14;
  --bg-accent-3: hsla(354, 30%, 20%, 0.741);
  --card-shadow: 5px 5px 20px #230129a9;
  --font-color: #0f172a;
  --tree-brightness: 0.9;
  --placeholder: #00000081;
  --bg-soft-warning: #e0a8a841;
  --font-color: #f5f5f5;
  --placeholder: #ffffff81;
  
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 200, "opsz" 48;
}


.btn-primary:focus,
.btn-primary:hover {
  @apply bg-fandango-500;
  @apply border-fandango-500;
  @apply text-lavender-web-50;
}
.form-control,
input.form-control[type="password"],
input.form-control[type="date"] {
  border-radius: 1rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  color: var(--font-color);
  background-color: var(--bg-accent-1) !important;

  width: 100%;
  align-self: center;
}

textarea.form-control {
  border-radius: 1rem 1rem 0 1rem;
  width: 30rem;
  height: 12rem;
}
.transition {
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
}
.btm-nav > button > .active {
  @apply px-4;
  @apply rounded-full;
  @apply bg-lavender-web-200/50;
}

.btm-nav {
  @apply backdrop-blur-2xl;
  @apply text-lavender-web-900;
}

.dropdown-toggle {
  border-radius: 1.12rem;
  font-weight: 600;
  height: 2.25rem;
  padding-right: 0px;
  border: none;
  color: var(--font-color);
  background-color: var(--bg-accent-1);
  font-size: 0.85rem;
  align-self: center;
  width: 100%;
  appearance: "none";
  -webkit-appearance: "none";
}

option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* textarea.form-control {
  min-height: 2.25rem !important;
}

.form-control-ddown {
  min-height: 2.25rem;
}

.form-control-ddown ul {
  background-color: var(--bg-card-2);
}

.form-control::placeholder {
  color: var(--placeholder);
}
.form-control:focus,
.form-control:focus-visible {
  color: var(--font-color);
  outline: solid 3px var(--accent-1);
  border-color: none;
  box-shadow: none;
  border: none;
} */

.btn-transparent {
  background-color: var(--bg-accent-2);
  border: none;
  color: var(--font-color) !important;
  font-weight: 600;
}

.btn-invisible {
  background-color: transparent;
  border: none;
  color: var(--font-color) !important;
  font-weight: 600;
}

.btn-bold-1 {
  background-color: var(--accent-1);
  border: none;
}

.btn-bold-2 {
  background-color: var(--accent-2);
  border: none;
}
.btn.btn-bold-1:hover {
  background-color: var(--accent-1) !important;
  border: none;
}
.btn.btn-bold-2:hover {
  background-color: var(--accent-2) !important;
  border: none;
}
.btn-invisible {
  background-color: transparent;
  border: none;
  color: var(--font-color) !important;
  font-weight: 600;
}

.btn-invisible:hover {
  background-color: var(--bg-accent-1) !important;
  color: black;
}

.btn-transparent:hover {
  background-color: var(--bg-accent-1) !important;
  color: black;
}

.card-style {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: var(--bg-card);
  border-radius: 16px;
  border: none;
  box-shadow: var(--card-shadow);
  background-blend-mode: overlay;
  box-shadow: var(--card-shadow);
}

.check-button {
  vertical-align: middle;
  align-self: center;
  position: absolute;
  top: 25%;
  left: 25%;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
}

.soft-accent {
  background-color: var(--bg-accent-1);
}

.nav-button {
  height: 60px !important;
  width: 60px !important;
  padding: 0;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 2.5%;
  top: calc(50% - 30px);
  background-color: var(--bg-accent-1) !important;
}

.tree-day {
  filter: brightness(1.3) hue-rotate(-15deg);
}

.tree-night {
  filter: brightness(0.6) hue-rotate(-15deg);
}

input.form-control.w-full.flex {
  display: flex;
  flex-direction: row;
}

.steps .step::before {
  @apply bg-night-900;
  height: 0.15rem;
  width: 60%;
}

.steps .step-primary.step::after,
.steps .step-primary {
  @apply text-fandango-400;
}

.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  @apply bg-fandango-400;
}

.steps .step::after {
  background-color: transparent;
}
.floating-pic {
  transition: all ease-in-out 0.3s;
}

.floating-pic:hover,
.touched {
  position: relative;
  z-index: 100;
  transform: scale(1.1); /* Use transform instead of scale */
  -webkit-transition: all ease-in-out 0.3s; /* Add vendor prefixes for the transition property */
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  background-color: #f2f2f2; /* Use a fallback color */
  background-color: var(--bg-card-2);

  @apply rounded-2xl shadow-sm backdrop-blur-2xl;
}

.tooltip {
  text-transform: none;
}

.soft-warning {
  background-color: #df9e541f;
  border: 1px solid #e0854841;
}

@media (min-width: 768px) {
  .floating-pic:hover,
  .touched {
    scale: 1.5;
  }
}

/* html {
  scrollbar-width: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

body::-webkit-scrollbar {
  display: none;
} */

.selected-avatar {
  box-shadow: 0 1px 3px 0 #d22f88, 0 0 0 2px #d22f88;
}

.selected-avatar-big {
  box-shadow: 0 1px 5px 0 var(--accent-2), 0 0 0 3px var(--accent-2);
}

.btn-dark:hover {
  color: var(--accent-1) !important;
}

.btn-translucent,
.btn-translucent:hover {
  background-color: #57575749;
  box-shadow: 0px 0px 3px #66666633;
  color: var(--font-color);
  border: none;
}

.btn-translucent:disabled {
  background-color: #cacaca52;
  box-shadow: 0px 0px 3px #66666618;
}
.tracking-in-expand-fwd-bottom {
  -webkit-animation: tracking-in-expand-fwd-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) 2 alternate both;
  animation: tracking-in-expand-fwd-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) 2 alternate both;
}
.dropdown:focus .dropdown-content-full,
.dropdown:focus-within .dropdown-content-full {
  background-color: rgba(255, 192, 203, 0.451) !important;
  width: 100vw;
  left: -0.5rem;
  top: 100%;

  position: absolute;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

li:hover > a.dropdown.dropdown-arrow > svg {
  transform: rotate(90deg);
  @apply transition-all;
}

li > a.dropdown.dropdown-arrow > svg {
  @apply transition-all;
}

.bg-hero {
  background: /*rose-red */ radial-gradient(
      circle at top left,
      #be1449,
      #be144900 50%
    ),
    /*mantis-300 */
      radial-gradient(circle at bottom right, #85cc52, #85cc5200 50%),
    /* mauveine-500 */
      radial-gradient(circle at bottom left, #b22ed7, #b22ed700 50%),
    /*blue-gray */ radial-gradient(circle at top right, #5c9bd9, #5c9bd900);
  background-color: #647091;
}
