@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

[data-theme="light"] {
  --card-color: #ecf1f3f2;
  --leafy-green: #017933;
  --bs-gray-100-o90: #f9fafbe6;
  --lvl: #f77779;
  --age: #ee976b;
  --exp: #65c0bd;
}


.forest-green {
  color: var(--leafy-green)
}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: var(--bs-gray-900);
  font-weight: bold;
}

.btn-transparent:hover {
  background-color: var(--bs-gray-900) !important;
  color: var(--bs-gray-100) !important;
}

[data-theme="dark"] {
    --card-color: #37393b;
    --cardhover: #515253;
    --homework: #b56576;
    --math: #6d597a;
    --deadline: #355070;
    --fontcolor: white;
    --lvl: #f94144;
    --age: #f9844a;
    --exp: #4d908e;
    --taskexp: #4d908e;
}

.list-text {
    width: 100%;
    margin: 0;
}


#information-card-image {
    height: 100px;
    width: 100px;
}





