:root {
  --leafy-green: #017933;
  --bs-gray-100-o90: #f9fafbe6;
  --card-color: #e0e0e0;
  --homework: #e68fa1;
  --math: #b08ac9;
  --deadline: #6eaaf1;
  --fontcolor: black;
  --lvl: #f77779;
  --age: #ee976b;
  --exp: #65c0bd;
}


.forest-green {
  color: var(--leafy-green)
}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: var(--bs-gray-900);
}

.btn-transparent:hover {
  background-color: var(--bs-gray-900) !important;
  color: var(--bs-gray-100) !important;
}

.bg-light {
  background-color: var(--bs-gray-100-o90) !important;
}