[data-theme="light"] {
  --card-color: #ecf1f3f2;
  --leafy-green: #017933;
  --bs-gray-100-o90: #f9fafbe6;
  --lvl: #f77779;
  --age: #ee976b;
  --exp: #65c0bd;
  
}

[data-theme="dark"] {
  --card-color: #37393b;
  --cardhover: #515253;
  --homework: #b56576;
  --math: #6d597a;
  --deadline: #355070;
  --fontcolor: white;
  --lvl: #f94144;
  --age: #f9844a;
  --exp: #4d908e;
  --taskexp: #4d908e;
}

* {font-weight: '600' !important}

.forest-green {
  color: var(--leafy-green)
}

.btn-transparent {
  background-color: transparent;
  border: none;
  color: var(--bs-gray-900);
  font-weight: bold;
}

.btn-transparent:hover {
  background-color: var(--bs-gray-900) !important;
  color: var(--bs-gray-100) !important;
}

.accordion { --bs-accordion-border-color: transparent !important;}

.accordion-button{padding-top: .5rem; padding-bottom: .5rem;}
.accordion-button:not(.collapsed), .accordion-button.collapsed, .accordion-button:not(.collapsed)::after {
  background-color: transparent;
  color: black !important;
  border: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important; 
}

.accordion-item, .accordion-item::after, .accordion { border: transparent  !important;}

.accordion-button:focus {
  box-shadow:none !important;
}
.accordion-body{padding-top: 0; padding-bottom: 0;}
.accordion-body::after {
  z-index: 3;
  border-color: #f5f5f5 !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem #f5f5f5 !important;
  background-color: #f5f5f5;
}

input[type='date']:focus {outline:  3px solid #c491ff !important;}
input[type='date'] {margin-left: 10px;}

form {
  border-radius: 1rem;

}
form input[type=text], form input[type=password] { padding: 1rem; border: none; background-color:  rgb(255, 255, 255) !important;  font-weight: 600; width: 30vmax; font-size: 1.1rem;}
form input[type=sumbit] { width: '50%' ; background-color: forestgreen ;}
::placeholder{color: black;}
form input.top,  form input.top:focus{
  border-radius: 1rem 1rem 0 0  ;
  border-bottom: 1px solid lightgray;
}

form input.bottom, form input.bottom:focus {
  border-radius: 0 0  1rem 1rem  ;

  

}
form input.top:focus, form input.bottom:focus{   background-color: rgb(225, 255, 225);outline: none;
}

